button {
    width: 3em;
    height: 3em;
    font-size: 1.5em;
    border: none;
    border-radius: 1.3em;
    margin: 0.3em;
}
button:hover {
    cursor: pointer;
    background-color: rgb(217, 210, 237);
}

.wrapper {
    background-color: black;
    border-radius: 1em;
    padding: 1em;
}

.laranja {
    background-color: rgb(250, 187, 69);
}

.resultado {
    color: white;
    display: flex;
    justify-content: right;
    margin-right: 1em;
    font-size: 3.5em;
}